# Ignore environment variables file
.env

# Ignore generated podcast files
assets/podcasts/

# Ignore Jekyll build directory
_site/

# Ignore macOS system files
.DS_Store

# Ignore temporary files
*.swp
*.swo

# Ignore log files
*.log

# Ignore node modules
node_modules/

# Ignore Python virtual environment
venv/
*.pyc
__pycache__/ 