---
layout: default
title: Blog
---
<div class="blog-list">
    <h1>All Blog Posts</h1>
    {% for post in site.posts %}
    <article class="blog-post">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <div class="blog-post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
            {% if post.categories %}
                <span> | Categories: {{ post.categories | join: ", " }}</span>
            {% endif %}
        </div>
        <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
        <a href="{{ post.url | relative_url }}" class="read-more">Read more</a>
    </article>
    {% endfor %}
</div> 
